body {
    direction:rtl;
}
#scoobywhere{
    width:100%;
}

#logo{float:right;margin:10px;}
ul {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00aeef; width:100%; padding-right:10px;}
li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #048ec2;
}
p {line-height:1.5;}
footer {background-color:rgb(0,0,51);color:white;margin-top:10px;text-align:center;padding:10px;font-size:20px;}
span {font-size:30px;padding:10px;background-color:rgb(0,0,51);color:white;}
#search{padding:10px;float:left;padding-left:15px;}
#s , #searchsubmit{padding:5px;text-align:center;}
@font-face {
    font-family: 'yekan';
    src: url('Yekan.eot');
    src: url('Yekan.eot?#iefix') format('embedded-opentype'),
         url('Yekan.woff') format('woff'),
         url('Yekan.ttf') format('truetype'),
         url('Yekan.svg#yekan') format('svg');
    font-style: normal;
    font-weight: normal;
}
body{
 font-family:yekan; 
}
fieldset h2 a{text-decoration:none;}
