body {
    direction:rtl;
}
#scoobywhere{
    width:50%;
}

#logo{float:right;margin:10px;}
ul {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00aeef; width:100%; padding-right:10px;}
li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #048ec2;
}
p {line-height:1.5;}
footer {background-color:rgb(0,0,51);color:white;margin-top:10px;text-align:center;padding:10px;font-size:20px;}
span {font-size:30px;padding:10px;background-color:rgb(0,0,51);color:white;}
#search{padding:10px;float:left;padding-left:15px;}
#s , #searchsubmit{padding:5px;text-align:center;}
fieldset{
width:100%;
}
