img {float:right;margin:10px;}
ul {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00aeef; width:100%; padding-right:10px;}
li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size:15px;
}
li a:hover {
  background-color: #048ec2;
}
p {line-height:1.5;}
#i1 {float:right;margin:10px 0px;width:100%;}
.odd {background-color:#00AEEF;}
.even {background-color:#baebf5;}
table {border:1px solid white;border-collapse:collapse;width:100%;}
td {padding:5px 50px;border:none;color:black;}
footer {background-color:rgb(0,0,51);color:white;margin-top:10px;text-align:center;padding:10px;font-size:20px;width:100%;}
span {font-size:30px;padding:10px;background-color:rgb(0,0,40);color:white;}
#search{padding:5px;float:left;padding-left:5px;font-size:15px;}
#s , #searchsubmit{padding:5px;text-align:center;}
